:root{
	--ff-primary: 'Montserrat';
  
	--fw-reg:  300;
	--fx-bold: 900;
  
	--clr--pink:  #EA3DB7;
	--clr-darkblue:   #143547;   
	--clr-lightblue: #1E4B65; 
	--clr-white: #FFFFFF;   
	--clr-offwhite: #F6F6FB;   
  
	--fs-h1:   34px;
	--fs-h2:   20px;
	--fs-nav:  20px;
  	}
  

body{   
    background: var(--clr-offwhite);  
    font-family: var(--ff-primary);
    width: auto;
    height: auto;
}

 /* menubar */
 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: var(--clr-darkblue);
}

li{
  list-style: none;
}

a{
  color: var(--clr-white);
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: var(--clr--pink);
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-white);
}

@media (max-width:768px){
.hamburger{
  display: block;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: var(--clr-lightblue);
  width: 61%;
  opacity: 90%;
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-nav);
  text-align: center;
  transition: 0.3s;
  z-index: 9999;
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}}
/* menubar slut*/

/* Footer */
.footer{
background-color: var(--clr-darkblue);
width: 100%;
height: auto;
height: auto;
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 25px 0px 25px 0px;
}

.footer-os{
width: 100px;
height: auto;
font-family: var(--ff-primary);
color: var(--clr-white);
text-align: left;
}

.footer-txt{
width: 500px;
height: auto;
font-family: var(--ff-primary);
color: var(--clr-white);
font-size: x-small;
text-align: left;
}

/* Footer */

/* Master */
.banner {
  width: 100%;
  position: inherit;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--clr-white);
  background-color: var(--clr--pink);
  padding: 30px;
}

.btn-pink{  
	font-family: var(--ff-primary);
  color: #fff;  
  background: var(--clr--pink);  
  padding: 7px;   
	border-style: none;
	width: 100px;
	height: auto;
	border-radius: 25px;
	margin-left:auto;
	margin-right: auto;
}  

.btn-box {
  padding: 20px;
}

/* Forside */

.txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:list-item;
  justify-content: space-around;
  list-style: none;
}

.forside{
  text-align: center;
  color: var(--clr-white);  
}

.menu-btn {
  font-family: var(--ff-primary);
  font-size:large;
  color: var(--clr-white);  
  background: var(--clr--pink);  
  padding: 7px;   
	border-style: none;
	width: 200px;
  height: 50px;
	height: auto;
	border-radius: 100px;
	margin-left:auto;
	margin-right: auto;
} 

.text {
  align-items: center;
  display: block;
  justify-content: center;
  text-align: center;
}

.dato {
 display: block;
  font-size: small;
  text-align: left;
  color: var(--clr-darkblue);
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.corona {
  display: inline-block;
  text-align: left;
  font-size: var(--fs-nav);
  color: var(--clr-darkblue);
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}